footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1d1d1d;
    color: #FFF;
    padding: 20px;
    text-align: center;
  
    p {
      font-size: 1.275rem !important;
      height: 7px;
    }
  }