header {
    background-color: #292929;
    color: white;
    padding: 10px;
    text-align: center;
    height: 70% !important;

    h1 {
        font-size: 42px;
    }
}


//  H1 TITULO

.aparecer {
    font-size: 42px;
    animation: caer 1s ease forwards;
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #dfe3e6;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 2% !important;

    &.modif {
        margin-top: 19px !important;
        z-index: 1;
    }
}


.navbar {
    background-color: #484a4d !important;
    border-radius: 25px;
    width: 53%;
    margin-top: 2.5%;

    .navbar-brand {
        color: #fff; // Color del texto
        font-size: 1.5rem; // Tamaño de la fuente
        font-weight: bold; // Estilo de la fuente
    }

    .navbar-toggler {
        border: none; // Para quitar el borde del botón
    }

    .nav-link {
        color: #fff !important;
        font-size: 1.2rem !important;
        padding: 5px 60px !important;
        transition: all .3s ease; // Animación de transición
        border-radius: 25px;

        &:hover {
            background-color: #fff !important; // Color de fondo al pasar sobre el botón
            color: #2b2828bb !important; // Color del texto al pasar sobre el botón
            border-radius: 25px;
        }
    }
}